
/* General Style */

.bg-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 14px;
    margin: 0 5px;
    background: rgba(0, 0, 0, 0.3);
}


body {
    font-family: "Poppins", sans-serif;
}
